@model IEnumerable<TiendaAlquiler.Models.Pais>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-between">

    <h1>Lista de Países</h1>
    <div class="d-flex justify-content-center mt-4">
        <a asp-action="Create" class="btn btn-highlight">Crear nuevo país</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th class="text-end">Acciones</th> <!-- Alineamos la cabecera de "Acciones" a la derecha -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td class="text-end">
                    <!-- Alineamos las acciones a la derecha -->
                    <a asp-action="Edit" asp-route-id="@item.PaisId" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.PaisId" class="btn btn-secondary">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.PaisId" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

>
