@model TiendaAlquiler.Models.Coche
@using Microsoft.AspNetCore.Identity
@inject UserManager<Usuario> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del coche</h1>

<div>
    <h4>Coche</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnioFabricacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnioFabricacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioAlquiler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioAlquiler)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carroceria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carroceria.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Decada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Decada.AnioInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pais.Nombre)
        </dd>
    </dl>
</div>
<h3>Fechas de Alquiler</h3>
<div>
    @if (Model.Alquilers != null && Model.Alquilers.Any())
    {
        <ul>
            @foreach (var alquiler in Model.Alquilers)
            {
                <li>Desde: @alquiler.FechaAlquiler.ToShortDateString() - Hasta: @alquiler.FechaDevolucion.ToShortDateString()</li>
            }
        </ul>
    }
    else
    {
        <p>Este coche no está alquilado actualmente.</p>
    }
</div>

<h3>Fotos del Coche</h3>
<div class="fotos">
    @if (Model.Fotos != null && Model.Fotos.Count > 0)
    {
        foreach (var foto in Model.Fotos)
        {
            <div class="foto">
                <img src="~/@foto.RutaAcceso" alt="Foto del coche" style="width: auto; height: auto;" />
            </div>
        }
    }
    else
    {
        <p>No hay fotos disponibles para este coche.</p>
    }
</div>

<a asp-controller="Alquilers" asp-action="Create" asp-route-cocheId="@Model.CocheId" asp-route-usuarioId="@UserManager.GetUserId(User)" class="btn btn-primary">
    Alquilar este coche
</a>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.CocheId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>




<!-- Vincula las dependencias necesarias de Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
