@model TiendaAlquiler.Models.Coche
@using Microsoft.AspNetCore.Identity
@inject UserManager<Usuario> UserManager

@{
    ViewData["Title"] = "Details";
}
<h1>Informacion del coche</h1>
<div>
    <table class="table table-details ">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Marca)</th>
                <th>@Html.DisplayNameFor(model => model.Modelo)</th>
                <th>@Html.DisplayNameFor(model => model.AnioFabricacion)</th>
                <th>@Html.DisplayNameFor(model => model.PrecioAlquiler)</th>
                <th>@Html.DisplayNameFor(model => model.Carroceria)</th>
                <th>@Html.DisplayNameFor(model => model.Color)</th>
                <th>@Html.DisplayNameFor(model => model.Decada)</th>
                <th>@Html.DisplayNameFor(model => model.Pais)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Marca)</td>
                <td>@Html.DisplayFor(model => model.Modelo)</td>
                <td>@Html.DisplayFor(model => model.AnioFabricacion)</td>
                <td>@Html.DisplayFor(model => model.PrecioAlquiler)</td>
                <td>@Html.DisplayFor(model => model.Carroceria.Tipo)</td>
                <td>@Html.DisplayFor(model => model.Color.Nombre)</td>
                <td>@Html.DisplayFor(model => model.Decada.AnioInicio)</td>
                <td>@Html.DisplayFor(model => model.Pais.Nombre)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    @* Mostrar descripcion si existe *@
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <h4>Descripcion</h4>
        <P>@Model.Description</P>
    }
    @* Solo se mostrara si existe *@
    @if (User.IsInRole("Admin"))
    {
        <h4>Agregar o Editar Descripción</h4>
        <form asp-action="ActualizarDescripcion" method="post">
            <input type="hidden" asp-for="CocheId" />
            <div class="form-group  mb-3 ">
                <textarea name="Descripcion" class="form-control" placeholder="Escribe una descripción del coche">@Model.Description</textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Guardar Descripción</button>
        </form>
    }
</div>
<h3>Fechas de Alquiler</h3>
<div>
    @if (Model.Alquilers != null && Model.Alquilers.Any())
    {
        <ul>
            @foreach (var alquiler in Model.Alquilers)
            {
                <li>Desde: @alquiler.FechaAlquiler.ToShortDateString() - Hasta: @alquiler.FechaDevolucion.ToShortDateString()</li>
            }
        </ul>
    }
    else
    {
        <p>Este coche no está alquilado actualmente.</p>
    }
</div>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @if (Model.Fotos != null && Model.Fotos.Count > 0)
        {
            bool isFirst = true;
            foreach (var foto in Model.Fotos)
            {
                <div class="carousel-item @(isFirst ? "active" : "")">
                    <img src="@Url.Content("~/" + foto.RutaAcceso.Replace("\\", "/"))" class="d-block w-100 img-fluid" alt="Foto del coche">
                </div>
                isFirst = false;  // Solo la primera imagen debe ser "active"
            }
        }
        else
        {
            <div class="carousel-item active">
                <p class="text-center">No hay fotos disponibles para este coche.</p>
            </div>
        }
    </div>

    <!-- Controles de navegación del carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<a asp-controller="Alquilers" asp-action="Create" asp-route-cocheId="@Model.CocheId" asp-route-usuarioId="@UserManager.GetUserId(User)" class="btn btn-primary mb-3 ">
    Alquilar este coche
</a>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.CocheId">Edit</a> |
    <a asp-action="Index">Volver al listado</a>
</div>





