@model TiendaAlquiler.Models.Alquiler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alquiler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coche.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Rol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlquilerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
