@model IEnumerable<TiendaAlquiler.Models.Decada>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Decadas</h1>

<p>
    <a asp-action="Create">Crear Decada</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnioInicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnioInicio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DecadaId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.DecadaId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.DecadaId">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
