@model IEnumerable<TiendaAlquiler.Models.Decada>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Decadas</h1>


<table class="table-m">
    <thead>
        <tr>
            <th colspan="4F">
                @Html.DisplayNameFor(model => model.AnioInicio)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnioInicio)
                </td>
                <td class="actions-column">
                    @*  <a asp-action="Edit" asp-route-id="@item.DecadaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DecadaId">Detalles</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.DecadaId">Borrar Decada</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center mt-4">

    <a asp-action="Create" class="btn btn-primary btn-custom">Crear decada</a>

</div>

