@model IEnumerable<TiendaAlquiler.Models.Color>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Colores</h1>

<p>
    <a asp-action="Create">Crear nuevo Color</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColorId">Editar Color</a> |
                <a asp-action="Details" asp-route-id="@item.ColorId">Detalles del Color</a> |
                <a asp-action="Delete" asp-route-id="@item.ColorId">Borrar Color</a>
            </td>
        </tr>
}
    </tbody>
</table>
