@model IEnumerable<TiendaAlquiler.Models.Color>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Colores</h1>

<table class="table-m">
    <thead>
        <tr>
            <th colspan="4">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="actions-column">
                    <a asp-action="Edit" asp-route-id="@item.ColorId">Editar Color</a> |
                    <a asp-action="Details" asp-route-id="@item.ColorId">Detalles del Color</a> |
                    <a asp-action="Delete" asp-route-id="@item.ColorId">Borrar Color</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-center mt-4">

        <a asp-action="Create" class="btn btn-primary btn-custom">Crear nuevo color</a>

    </div>


}
else
{
    <div>
        <p>No puedes acceder a la creacion de colores</p>
    </div>
}

